.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--primary-foreground-color) !important;
  flex-shrink: 0;
}

.initial {
  font-size: var(--font-size-sm);
  color: var(--primary-foreground-color) !important;
  user-select: none;
}

