.button {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-sm);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    transition: background-color 0.2s;
}

.buttonPrimary {
    background-color: var(--primary-color);
    color: var(--primary-foreground-color);
}

.buttonDanger {
    background-color: var(--red-500);
    color: var(--white);
}

.buttonDanger:hover {
    background-color: #dc2626;
}

