
.button {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-sm);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    transition: background-color 0.2s;
}

.buttonPrimary {
    background-color: var(--primary-color);
    color: var(--primary-foreground-color);
}

.buttonDanger {
    background-color: var(--red-500);
    color: var(--white);
}

.buttonDanger:hover {
    background-color: #dc2626;
}

.textBox {
    border: 1px solid var(--card-border-color);
    padding: var(--spacing-sm);
    border-radius: var(--border-sm);
    font-family: inherit;
}

.textBoxLabel {
    font-weight: medium;
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-xs);
}

.textBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-md);
}

.tag {
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-sm);
}

.infoFieldLabel {
    font-weight: medium;
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-xs);
    color: var(--gray-700);
}

.infoFieldValue {
    padding: var(--spacing-sm);
    border-radius: var(--border-sm);
    font-family: inherit;
    background-color: var(--gray-100);
    color: var(--black);
    min-height: 20px;
    line-height: 1.5;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.infoFieldContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-md);
}

.infoFieldContainerNoBackground {
    background-color: transparent !important;
    padding: 0;
}