.textBox {
    border: 1px solid var(--card-border-color);
    padding: var(--spacing-sm);
    border-radius: var(--border-sm);
    font-family: inherit;
    width: 100%;
}

.textBoxLabel {
    font-weight: medium;
    margin-bottom: var(--spacing-xs);
    font-size: var(--font-size-xs);
}

.textBoxContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-md);
    width: 100%;
}

.textBoxInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid var(--card-border-color);
    border-radius: var(--border-sm);
    overflow: hidden;
}

.textBoxInputContainer .textBox {
    border: none;
    border-radius: 0;
    flex: 1;
}

.textBoxPrefix {
    padding: var(--spacing-sm);
    background-color: var(--gray-200);
    color: var(--text-color);
    font-family: inherit;
    border-right: 1px solid var(--card-border-color);
}