
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    width: 420px;
    padding: var(--spacing-lg);
    border: var(--border-size-sm) solid var(--card-border-color);
    border-radius: var(--border-md);
    background-color: var(--white);
}

.loginTitle {
    margin: 0 0 var(--spacing-md);
}