.main {
    padding: var(--spacing-md);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
}

.headerTitle {
    margin: 0;
}

.tableContainer {
    height: calc(100vh - var(--main-header-height) - 100px);
}

.jobLink {
    color: var(--blue-500);
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;
    margin: -8px;
    text-decoration: none;
}