.main {
    padding: var(--spacing-md);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-sm);
}

.headerTitle {
    margin: 0;
}

.tableContainer {
    height: calc(100vh - var(--main-header-height) - 100px);
}